/* =====================Removendo os espaços da página============================== */
*{
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

/* ==================Estilizando  o Header da pagina====================== */
nav{
   height: 15vh;
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-around; 
}

.navegation{
    height: 10vh;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
}

.navegatio__element--logo{
    text-decoration: none;
    color: rgb(1, 22, 1);
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
}
.navegatio__element{
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 18px;
}
.buttons{
    height: 10vh;
    width:30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button{
    margin:10px;
    background-color: white;
    border: none;
}
.button a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button__sign{
    background-color: rgb(1, 22, 1);
    padding: 10px 20px;
    border-radius: 20px;
}
.button__sign a{
    color: white;
}
/* ===================================FINAL DO HEADER================================ */

/* ==========================ESTILIZANDO A PRIMEIRA SECTION============================ */
.tryit{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}

.tryit__boasvindas{
    height: 60vh;
    width: 40%;

}
.boas-1 small{
    font-size: medium;
    color: grey;
}
.boas-1 h1{
    font-size: 60px;
    width:90%;
}

.boas-2 p{
    font-size: medium;
    color: grey;
    margin-top: 30px;
    line-height: 20px;
}

.boas-3{
    display: flex;
    margin-top: 30px;
}
.boas-3 a{
    text-decoration: none;
    color:white;
    font-size: 15px;
    background-color:#1c3f3a;
    padding: 10px 15px;
    border-radius: 20px;
}

.stars{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.star-1 small{
    font-weight: bold;
}

/* Estilizando a segunda caixa de boas vindas */

/* =======CAIXA 1======= */
.tryit__boasvindas-ilustration{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.ilustra{
    height: 30vh;
    width:45%;
}
.ilustra--image-foto1 img{
    height: 30vh;
    width:100%
}
/* ========CAIXA 2======= */
.ilustra--currencies{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: rgb(233, 229, 229);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.currencies{
    padding: 2px;
}
.ilustra--currencies-element1{
    font-size: 50px;
    margin-left: 110px;
}
.ilustra--currencies-element2{
    font-size: 20px;
    color:rgb(1, 22, 1) ;
    margin-right: 80px;
}
.ilustra--currencies-element3 i{
    font-size: 80px;
    margin-left: 120px;
    color: gray;
}
/* =======CAIXA 3========= */
.ilustra--users-active{
    margin-bottom: 20px;
    margin-left: 80px;
    font-size: 20px;
    color:#1c3f3a;
}
.ilustra--users{
    background-color: rgb(213, 232, 238);
    border-top-right-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .ilustra--users-user{
    display: flex;
    width: 80%;
    margin-left: 20px;
 }
 .ilustra--users-staricon{
    margin-bottom: 60px;
    margin-right: 120px;
 }
 .user{
    height: 5vh;
    width:17%;
    border-radius: 100%;
    margin-right: -10px;
 }
 .user--add-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c3f3a;
    color: white;
 }
/* ==========CAIXA 4========= */
.ilustra--saving{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    justify-content: space-between;
    background-color:rgb(7, 10, 4);
}
.ilustra--saving-img{
    height: 60px;
    width: 240px;
}
.ilustra--saving-element{
    height: 5vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    color: white;
    font-size: 20px;
    margin: 20px;
}
.saving{
    justify-content: flex-end;
}
.saving p{
    margin-right: 20px;
}
/* ==========ESTILIZANDO AS LOGOS========== */
.suports{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 45px;
    margin: 60px 70px 60px 70px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.suport{
    height: 5vh;
    width:10%;
}
/* ================================FINAL DA PRIMEIRA SECTION =============================== */
/* ================================ESTILIZANDO A SEGUNDA SECTION=============================== */

.secondsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.secondsection__about{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.secondsection__about-h6{
    font-size: medium;
    color: grey;
    padding: 20px;
    
}
.secondsection__about-h1{
    font-size: 45px;
    text-align: center;
}
.secondsection__about-p{
    text-align: center;
    color: grey;
    padding: 15px;
}
.secondsection__grow{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    padding: 20px 10px;
}
.secondsection__grow-1{
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    background-color: #1c3f3a;
    color: white;
}
.secondsection__grow-1 h3{
    font-size: 30px;
    margin: 40px 0px;
}

.secondsection__grow-1--estatist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.secondsection__grow-1--estatist small{
    font-size: 20px;
    margin: 0px 0px 5px 0px;
}
.grafico-2 i{
    font-size: 200px;
    color: gray;
}
.secondsection__grow-2{
    background-color: rgb(233, 229, 229);
    margin: 0px 0px 0px 10px;
    padding: 174px 150px;
    border-radius: 0% 0% 0% 25%;
}
.secondsection__grow-2 h1{
    font-size: 30px;
}
/* =======================FINAL DA SEGUNDA SECTION=============================== */
/* ===========================ESTILIZANDO A TERCEIRA SECTION=============================== */
.terceiroSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.terceiroSection__value{
    width: 88%;
    display: flex;
    flex-direction: column;

}
.terceiroSection__value h6{
    font-size: medium;
    color: grey;
    padding: 40px 0px 10px 0px;
}
.terceiroSection__value-content{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.terceiroSection__value-content h2{
    font-size: 40px;
    color: black;
}
.terceiroSection__value-content p{
    margin: 55px 0px 0px 0px;
    font-size: 20px;
    line-height: 24px;
}
.terceiroSection__cards{
    display:flex;
    width: 88%;
    padding: 40px 30px;
}
.cards{
    display:flex;
    flex-direction:column;
    width: 30%;
    border: 1px solid gray;
    margin: 10px;
}
.ph-intersect{
    font-size: 50px;
    color: rgb(1, 22, 1);
    margin:40px 0px 0px 40px;
}
.cards div{
    margin:20px 0px 0px 40px;
}
.contOfCard h5{
    font-size:20px;
    margin:0px 0px 10px 0px;
}
.contOfCard p{
    line-height: 25px;
    margin:0px 0px 40px 0px;
}
.terceiroSection__cards-3{
    width: 40%;
    background-color: rgb(233, 229, 229);
    border-radius: 0% 25% 0% 0%;
    border: none;
}
.angleArow i{
    font-size: 20px;
    padding: 15px 15px;
    color: black;
    margin:0px 0px 40px 40px;
    border: 1px solid gray;
    border-radius: 50%;
}
.cards__span-1 i{
    color: white;
    border: none;
    background-color: rgb(1, 22, 1);
    border-radius: 50%;
}
.terceiroSection__numbers{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
}
.box{
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin: 30px 0px;
}
.box h1{
    font-size: 100px;
    color: white;
}
.box p{
    font-size:20px;
    color: white;
}
.box small,h2{
    color: white;
}

.box h2{
    font-size: 35px;
    line-height:45px;
    margin: 10px 0px 120px 0px ;
}
/* ===================FINAL DA TERCEIRA SECTION=============== */
/* ===================INICIO DA QUARTA SECTION=============== */
.quartaSection{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.quartaSection__faq{
    display:flex;
    width:88%;
}
.faqCont{
    padding: 50px 30px;
}
.quartaSection__faq-1 h6{
    font-size: medium;
    color: grey;
    padding: 0px 0px 10px 0px;
}
.quartaSection__faq-1 h1{
    font-size: 45px;
}
.quartaSection__change{
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #1c3f3a;
    width:88%;
}
.quartaSection__change-1{
    margin: 60px;
    color: white;
}
.quartaSection__change-1 h1{
    font-size: 50px;
    padding: 0px 0px 20px 0px;
}
.quartaSection__change-1 p{
    font-size:20px;
    line-height: 30px;
    padding: 0px 0px 40px 0px;
}
.quartaSection__change-1 a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: white;
    color: gray;
    border-radius: 60px;
}
.quartaSection__change-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
.stars__change{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}
.fa-gem{
    font-size: 100px;
}
.quartaSection__change-2 img{
    height:300px; 
    width:250px;
    border-radius: 0% 50% 0% 0%;
}
/* ====================FINAL DA QUARTA SECTION=============== */
/* ====================INICIO DO FOOTER=============== */
footer{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.footerCont{
    display:flex;
    align-items: center;
    width:88%;
    justify-content: center;
    justify-content: space-between;
    margin: 50px;
}
.footerCont-1{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    width:60%;
    padding: 20px 0px;
}
.boxFoot h4{
    color: #1c3f3a;
    font-size: 20px;
}
.boxFoot ul li{
    list-style: none;
    padding: 10px 0px 0px 0px ;
    color: gray;
}
.footerCont-2{
    display: flex;
    width: 40%;
    flex-direction: column;
}
.footerCont--box1{
    display:flex;
    align-items: center;
    justify-content: center;
}
.footerCont--box1 h1{
    font-size: 100px;
    font-weight: normal;
    color: #1c3f3a;
}
.footerCont--box2 {
    margin:20px 0px 0px 0px ;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.footerCont--box2 p{
    line-height: 18px;
    color: gray;
}
.footerCont--box2 span{
    margin:40px 0px 0px 0px;
    color: gray;
}
.footerRights{
    padding: 40px 0px;
    width:80%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border-top: 1px solid gray ;
}
.footerRights p{
    color: gray;
}
.footerRights div{
    display: flex;
    justify-content: center;
    align-items: center;
    width:30%;
    justify-content: space-between;
}

