/* =====================Removendo os espaços da página============================== */
*{
    margin: 0;
    padding: 0;
}

/* ==================Estilizando  o Header da pagina====================== */
nav{
   height: 15vh;
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-around; 
}

.navegation{
    height: 10vh;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
}

.navegatio__element--logo{
    text-decoration: none;
    color: rgb(1, 22, 1);
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
}
.navegatio__element{
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 18px;
}
.buttons{
    height: 10vh;
    width:30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button{
    margin:10px;
    background-color: white;
    border: none;
}
.button a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button__sign{
    background-color: rgb(1, 22, 1);
    padding: 10px;
    border-radius: 20px;
}
.button__sign a{
    color: white;
}
/* ===================================FINAL DO HEADER================================ */

/* ==========================Estilizando o Section Inicial============================ */
.tryit{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}

.tryit__boasvindas{
    height: 60vh;
    width: 40%;

}
.boas-1 small{
    font-size: medium;
    color: grey;
}
.boas-1 h1{
    font-size: 60px;
    width:90%;
}

.boas-2 p{
    font-size: medium;
    color: grey;
    margin-top: 30px;
    line-height: 20px;
}

.boas-3{
    display: flex;
    margin-top: 30px;
}
.boas-3 a{
    text-decoration: none;
    color:white;
    font-size: 15px;
    background-color:rgb(1, 22, 1) ;
    padding: 12px;
    border-radius: 20px;
}

.stars{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.star-1 small{
    font-weight: bold;
}

/* Estilizando a segunda caixa de boas vindas */

/* =======CAIXA 1======= */
.tryit__boasvindas-ilustration{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.ilustra{
    height: 30vh;
    width:45%;
}
.ilustra--image-foto1 img{
    height: 30vh;
    width:100%
}
/* ========CAIXA 2======= */
.ilustra--currencies{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: rgb(233, 229, 229);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.currencies{
    padding: 2px;
}
.ilustra--currencies-element1{
    font-size: 50px;
    margin-left: 110px;
}
.ilustra--currencies-element2{
    font-size: 20px;
    color:rgb(1, 22, 1) ;
    margin-right: 80px;
}
.ilustra--currencies-element3 i{
    font-size: 80px;
    margin-left: 120px;
    color: gray;
}
/* =======CAIXA 3========= */
.ilustra--users-active{
    margin-bottom: 20px;
    margin-left: 80px;
    font-size: 20px;
    color:rgb(1, 22, 1);
}
.ilustra--users{
    background-color: rgb(213, 232, 238);
    border-top-right-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .ilustra--users-user{
    display: flex;
    width: 80%;
    margin-left: 20px;
 }
 .ilustra--users-staricon{
    margin-bottom: 60px;
    margin-right: 120px;
 }
 .user{
    height: 5vh;
    width:17%;
    border-radius: 100%;
    margin-right: -10px;
 }
 .user--add-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 22, 1);
    color: white;
 }
/* ==========CAIXA 4========= */
.ilustra--saving{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    justify-content: space-between;
    background-color:rgb(7, 10, 4);
}
.ilustra--saving-img{
    height: 60px;
    width: 240px;
}
.ilustra--saving-element{
    height: 5vh;
    width:100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    color: white;
    font-size: 20px;
    margin: 20px;
}
.saving{
    justify-content: flex-end;
}
.saving p{
    margin-right: 20px;
}



